body {
  background-color: rgb(241, 169, 232);
}

.pizzas {
  display: flex;
}

.pizza {
  background-color: aquamarine;
  margin: 0.3cm;
  padding: 1cm;
  border-radius: 1cm;
  border: 1px solid #1d3557;
  margin-bottom: 0.5cm;
  width: 25%;
  display: block;
}

.small_pizza {
  background-color: rgb(219, 113, 118);
  margin: 0.3cm;
  padding: 1cm;
  border-radius: 1cm;
  border: 1px solid #1d3557;
  flex: 2;
}

.medium_pizza {
  background-color: rgb(231, 149, 94);
  margin: 0.3cm;
  padding: 1cm;
  border-radius: 1cm;
  border: 1px solid #1d3557;
  flex: 2;
}

.large_pizza {
  background-color: rgb(255, 163, 235);
  margin: 0.3cm;
  padding: 1cm;
  border-radius: 1cm;
  border: 1px solid #1d3557;
  flex: 2;
}

.contact_us {
  background-color: rgb(141, 34, 241);
  margin: 0.3cm;
  padding: 1cm;
  border-radius: 1cm;
  border: 1px solid #1d3557;
}

@media (min-width: 760px) {
  body {
    background-color: blanchedalmond;
  }
}

@media (min-width: 960px) {
  body {
    background-color: blanchedalmond;
  }
}
